@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmjcDidBc.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  font-family: Abril Fatface;
  font-size: 45px;
  background: linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  -webkit-background-clip: text;
  color: transparent;
}

.totalPostsLiked {
  margin: auto;
  font-size: 20px;
}
.postWrapper {
  border: 1px solid rgb(105, 105, 105);
  background-color: #ebebeb;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px 15px 30px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.postWrapper textarea {
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin: 10px 0 2px;
  background: white;
  text-align: center;
}

.postWrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffb7d2;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 0 5px;
  margin-top: 50px;
  cursor: pointer;
}

.postLength {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  color: gray;
}

.heartEmoji {
  font-size: 25px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 767px) {
  .projectHeading {
    font-size: 25px;
  }
  .subHeading {
    font-size: 20px;
  }
  .postWrapper {
    width: 70%;
    padding: 0 20px 20px 20px;
  }

  .postWrapper button {
    font-size: 12px;
    width: 85%;
    margin-top: 0;
  }

  .heartEmoji {
    font-size: 18px;
  }
  .postWrapper textarea {
    height: 70px;
  }
  .postWrapper textarea::placeholder {
    font-size: 14px;
  }
  .postLength {
    font-size: 14px;
  }
  .totalPostsLiked {
    font-size: 16px;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .postWrapper {
    width: 70%;
  }
  .postWrapper button {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .postWrapper {
    width: 45%;
  }
  .postWrapper textarea {
    height: 65px;
  }
  .postWrapper button {
    margin-top: 0;
  }
}
