.heartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heartButton {
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  animation: heart-beat 2s infinite;
}

.heartButton:hover {
  background-color: rgb(255, 199, 220);
}
.num-likes {
  margin-left: 5px;
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
